<!DOCTYPE html>
<html>
  <head>
    <title>Rolifytest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
    <%= link_to "sign out",destroy_user_session_path, method: :delete   %>
  <% end %>
  <br>
  <body>
    <%= yield %>
  </body>
</html>
